<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selection</title>
</head>

<body>
<form method="post">
	<p>Select the column of the final grid</p>
	<select name="geogrid">
	  <option value="{{data['selected_column_grid']}}" selected>{{data['selected_column_grid']}}</option>
	  {% for col in data['columns'][1:] %}
	    <option value="{{col}}">{{col}}</option>
	  {% endfor %}
	</select>
	
	<p>Select a column on the basis of which you want to cluster</p>
	<select name="column">
	  <option value="{{data['selected_column']}}" selected>{{data['selected_column']}}</option>
	  {% for col in data['columns'][1:] %}
	    <option value="{{col}}">{{col}}</option>
	  {% endfor %}
	</select>

	<input type="submit" value="Submit">
</form>

<!-- This will be for the choice of range or selection -->
{% if data['flag'] >= 1%}
<form method="post">
	<p>Do you want to select some choices, or choose a range?</p>
	<select name="choice">
	{% if data['selected_choice'] == "discrete" %}
	    <input type="checkbox" name="discrete" value="discrete" checked/>Discrete Values<br>
	{% else %}
	    <input type="checkbox" name="discrete" value="discrete"/>Discrete Values<br>
	{% endif %}

	{% if data['selected_choice'] == "range" %}
	    <input type="checkbox" name="range" value="range" checked/>Range<br>
	{% else %}
	    <input type="checkbox" name="range" value="range"/>Range<br>
	{% endif %}

	</select>
	<input type="submit" value="Submit">
</form>
{% endif %}

<!-- This will be for doing subsequent action -->
{% if data['selected_choice']=='range'%}
<form method="post">
	<p>Select a value of which you want to form clusters of</p>
	<select name="from_range">
	  {% for v in data['from_range'] %}
	    <option value="{{v}}">{{v}}</option>
	  {% endfor %}
	</select>

	</select>
	<select name="to_range">
	  {% for v in data['from_range'] %}
	    <option value="{{v}}">{{v}}</option>
	  {% endfor %}
	</select>
	<p>Enter number of clusters: </p>
	<input type="text" name="num_clusters">
	<input type="submit" value="Submit">
</form>
{% elif data['selected_choice']=='discrete' %}
<form method="post">
	<p>Select one (or more) value(s) of which you want to form clusters of</p>
	<select name="val">
	  {% for v in data['col_values'] %}
	    <input type="checkbox" name="{{v}}" value="{{v}}"/>{{v}}<br>
	  {% endfor %}
	</select>
	<p>Enter number of clusters: </p>
	<input type="text" name="num_clusters">
	<input type="submit" value="Submit">
</form>
{% endif %}

</select>
</body>
</html>
