<!doctype html>
<title>Clustomer</title>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
    	<p>Upload an excel file containing data</p>
		<p><input type="file" name="datafile" autocomplete="off" required></p>
    	<p>Upload a standard map of KML file</p>
		<p><input type="file" name="kmlfile" autocomplete="off" required></p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
